* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 80%;
  font-family: 'Varela Round', sans-serif;
}

body {
  background: linear-gradient(
    45deg,
    rgba(39, 186, 25, 1) 0%,
    rgba(255, 186, 0, 1) 100%
  );
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
}

.player {
  display: flex;
  flex: 50%;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 80vh;
  padding: 8rem;
  background-color: rgba(0, 0, 0, 0.15);
}

/*elements*/

.name {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 2px;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.score {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 6px rgb(0, 0, 0);
  padding: 30px;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 2px;
  width: 200px;
  text-align: center;
}

.current {
  background: linear-gradient(
    45deg,
    rgba(255, 186, 0, 1) 0%,
    rgba(39, 186, 25, 1) 100%
  );
  width: 120px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
  border: 5px solid black;
  position: absolute;
  top: 55vh;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.current-label {
  margin: 15px auto;
  text-transform: uppercase;
  font-size: 120%;
  letter-spacing: 1px;
}

.current-score {
  margin: 15px auto;
  font-size: 220%;
}

.dice {
  height: 18%;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid black;
  border-radius: 15px;
}

.btn {
  font-family: inherit;
  font-size: 130%;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50rem;
  border: 3px solid black;
  position: absolute;
  width: 120px;
  height: 40px;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 1px 2rem 3rem rgba(136, 62, 62, 0.15);
}

.btn:focus {
  outline: none;
}

.btn--new {
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.btn--roll {
  top: 55vh;
  left: 50%;
  transform: translateX(-50%);
}

.btn--hold {
  top: 65vh;
  left: 50%;
  transform: translateX(-50%);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #ff0000;
}

.hidden {
  display: none;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}
